/**General**/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid #ff0000;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row-reverse;
}

.padding {
    padding: 10px 0;
}

.margin {
    margin-bottom: 20px;
}

.content {
    margin: 0 auto;
}

h1 {
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.bgcolor-grey {
    background-color: #F6F6F6;

}

/* Formattazione Testo */
    

section p {
    color: white;
    font-size: 20px;
    word-spacing: 4px;
    padding-top: 10px;
}

h2 {
    font-size: 45px;
    padding-bottom: 27px;
}

header p {
    line-height: 5px;
    padding: 15px;
}


main p {
    line-height: 1.5;
    font-size: 18px;

}

/**Header Barra Navigazione**/

.navigation-bar {
    background-color: #255EE9;
}

header li {
    list-style: none;
    padding: 15px 20px;
    color: white;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    text-decoration: underline;
    background-color: #171bf9ea;
    box-shadow:0px 0px 20px 5px rgb(17, 0, 255);
    
}

.bgimage {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 659px;
}

.accesso{
    background-color: white;
    color: black;
    padding: 8px 12px;
    border-radius: 40px;
    text-decoration: none;
}

.shadow:hover{
    box-shadow:0px 0px 20px 5px rgb(17, 0, 255);

}

/* Header Second container */

#header-buttons{
    margin-top: 30px;
    display: inline-block;
    justify-content: center;
    gap: 25px;
    display: flex

}

.button {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button1 {
    padding: 15px 10px;
    border-radius: 50px;
    color: #000000;
    background-color: #ffffff;
    border: 0;
    width: 180px;
    font-size: 15px;
    text-decoration: none;
}

.button2 {
    padding: 15px 25px;
    border-radius: 50px;
    color: #000000;
    background-color: #ffffff;
    border: 0;
    width: 230px;
    font-size: 15px;
    background-color: #23272A;
    color: white;
    text-decoration: none;
}

.button3 {
    border-radius: 50px;
    background-color: #7289DA;
    border: 0px;
    font-size: 15px;
    color: white;
    margin-top: 32px;
}

/* Fine Header */


/* Main */

main div{
    margin-top: 80px;
}

.content {
    max-width: 60%;
    margin: 0% auto;

}


section {
    max-width: 100%;
    margin: 0% auto;
}

.margin-div {
    border: 1px solid red;
    margin: 80px 0;
}

.image img{
    width: 100%;
}

.image {
    width: 70%;
}

.image-star {
    width: 20%;
}

.place {
    width: 40%;
    height: 446px;
}

.center {
    text-align: center;
}

.mark {
    font-size: 20px;
}

main {
    margin-top: 100px;
}

.end-padding {
    padding-bottom: 100px;
}

/* Footer */

footer {
    background-color: #23272A;
    padding: 15px;
}

.contenitore {
    width: 70%;
    margin: 0 auto;
}

/* Flag */

footer div .contenitore {
    height: 100px;
}

footer li {
    color: #ffffff;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer li:first-child {
    color: #7289DA;
}

footer span {
    font-size: 20px;
}

footer button {
    border-radius: 50px;
    background-color: #7289DA;
    border: 0px;
    font-size: 15px;
    color: white;
    width: 80px;
}

.bottom-border {
    border-bottom: 1px solid #F6F6F6;
}

#end-footer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}


.wave-1hkxOo{
    width: 100%;
    height: 100px;
    background-color: white;
    color: #F6F6F6; 

}

.reflex{
    transform: scaley(-1);
    
}

#padding{
    margin-top: -5px;
}
